<ul>
    <li><%= @cat.birth_date %></li>
    <li><%= @cat.color %></li>
    <li><%= @cat.name %></li>
    <li><%= @cat.sex %></li>
    <li><%= @cat.description %></li>

    <li><a href="<%= cats_url %>">Return to Showpage</a></li>
</ul>




<table>
    <tr>
        <th>Birthdate</th>
        <th>Color</th>
        <th>Name</th>
        <th>Sex</th>
        <th>Description</th>
    </tr>

    <tr>
        <td><%= @cat.birth_date %></td>
        
    </tr>


</table>